.dashborad{
    height: 100vh;
    padding:50px;
}
.signin_name,.signin_email,.signin_password{
    display: block;
    width: 60%;
    height: 30px;
    padding:5px;
    margin-bottom: 20px;
}
.submit_button{
    display: block;
   
}
.signin_text{
    text-align: left;
    margin-top: 80px;
}